<div class="section-container">
    <div class="cards">
        <div class="card-deck">
            <div class="card mb3 shadow card-theme">
                <div class="card-header card-header-theme">
                    <h5> Daily orders </h5>
                </div>
                <div class="card-body">
                    <app-bar-chart></app-bar-chart>
                </div>
            </div>
            <div class="card mb3 shadow card-theme">
                <div class="card-header card-header-theme">
                    <h5> Orders by customer </h5>
                </div>
                <div class="card-body">
                    <app-pie-chart></app-pie-chart>
                </div>
            </div>
            <div class="card mb3 shadow card-theme">
                <div class="card-header card-header-theme">
                    <h5> Orders by state </h5>
                </div>
                <div class="card-body">
                    <app-pie-chart></app-pie-chart>
                </div>
            </div>
        </div>
    </div>
</div>